.navbar-nav{
   
    
    justify-content: center;
    

}
span.Thiwakorn{
color:black;

}
li.nav-item{

    padding-right: 60px;
   
}

li.nav-item .nav-link{

    color: azure;

    
   
}
a.navbar-brand{
    
    font-style: oblique;
    color: azure;
    padding-right: 5px;
}
a.navbar-brand:hover{
    font-style: oblique;
    color: azure;
    padding-right: 5px;
    text-shadow: rgb(0, 162, 255) 0.2em 0.2em 0.2em;
}
sub{
    padding-left: 6px;
    font-size: 12px;
}
li.nav-item .nav-link:hover{

    color: azure;
    font-size: 20px;
     
}
div.background{
    width:100%;
    height: 60em;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url('../assets/wp2763910-gif-background.gif');
    padding-bottom: 30px;
    opacity: 0.7;
}

div#techSec h2{

    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
div.card{
    border: 1px grey;
    text-align: center;
    box-shadow: 2px 2px 10px 2px rgba(50,50,50,.4);
}
div.card:hover{
    border: 1px grey;
    text-align: center;
    box-shadow: 2px 2px 10px 2px rgba(50,50,50,.4);
    
}


div.profileInfo{
   
    padding-top: 10px;
    font-size: 18px;
}
div.card img.profilePic{

    border-block: solid black;
    margin-top: 25px;
    width:250px;
    height: 250px;
    border: solid black 2px ;
    box-shadow: 2px 2px 10px 2px rgba(50,50,50,.4);
    opacity : 0.8;
   
}
div.profileCard {
    background-color: #ffffff;
    margin: auto;
    width:300px;
    height: 300px;
    border: solid black 2px;
}


i{
    padding-right: 20px;
    padding-bottom: 20px;
}


div.cardAbout img{
    
    width: 250px;
    height: 250px;
    
}
h2{

    margin-top: 100px;
    margin-bottom: 100px;
}
div.nameAbout{
    font-weight: bold;
    font-size: 26px;
    
}

img.card-img-top{
    margin: auto;
    width: 200px;
    height: 200px;
    position: relative;
    display: block;
    margin-top: 20px;
    
    
}

div.col-sm-12, col-md-4, col-lg-4 {
margin-bottom: 20px;
margin-right: -10px;
}

div#aboutSec h2{

    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
div#aboutSec{
    display: block;
}
div.aboutMe{

    text-align: center;
    padding-top: 120px;
    padding-bottom: 50px;
   font-size: 36px;
   font-weight: bold;

}
div.techNology{

    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
   font-size: 36px;
   font-weight: bold;

}
.container {
    position: relative;
    text-align: center;
   
  }

  .centered {
    color :white;
    font-size: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  

  div.project{

    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
   font-size: 36px;
   font-weight: bold;

}

div.card-header{
    background-color: #212529;
    color:azure;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

div.cardProject p{
    text-align: left;
    padding-bottom: 5px;
    
    
}
div.empty{
    padding:50px;
}
div.card-footer{
    text-align: left;
}
section.footer{
    background: #212529;
    color: azure;
   text-align: center;
   padding: 10px;
 
}

span.Thai{
    padding-top: 11px;
    font-size: 12px;
    color: white;
    padding-right: 10px;
}
span.Thai:hover{
    padding-top: 11px;
    font-size: 12px;
    color: greenyellow;
    padding-right: 10px;
}
span.Eng{
    padding-top: 11px;
    color: white;
    padding-left: 10px;
    font-size: 12px;
}
span.Eng:hover{
    padding-top: 11px;
    color: greenyellow;
    padding-left: 10px;
    font-size: 12px;
}
div.skill{
    background-color: #212529;
    color:azure;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}
div.cardHtml{
    padding-bottom: -20px;
}

div.firebaseCard{
    padding-bottom: 3px;
}
  
